@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: grey;
  --background-start-rgb: grey;
  --background-end-rgb: grey;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2757ed;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #2757ed;
  border-radius: 20px;
  border: 1px solid transparent;
}
